.headers{
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, 
        rgba(71, 71, 71, 0.9) 90%,
        rgba(71, 71, 71, 0.9) 90%
    );
   
    display: flex; /* Используем flexbox для центрирования */
    align-items: center;
    justify-content: center;
}

.logotxt:hover{
    color:#ffffff7e;
    font-size: 46px;
}
.logo{
    width: 30px;
}
.logotxt{
    
    color:#fff;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
    font-size: 52px;
}
a.menu:hover{
    color:#ffffff7e
}
a.menuf:hover{
    color:#ffffff7e
}
div.menu{
    align-items: center;
    display: flex;
    max-width: 1160px;
    width: 100%;
    justify-content: space-between;
    
}
div.menuf{
    align-items: center;
    display: inline-flex;
    max-width:600px;
    width: 100%;
    margin-right: 50px;
}
a.menuf{
    margin-left: auto;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    font-size: 32px;
    color:#fff;
    margin-right: 50px;
}
a.menu{
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    font-size: 32px;
    color:#fff;
    margin-right: 50px;
}
.menu:last-child{
    margin-right: 0px;
}
.image-container {
    position: relative;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-image: url("baner.jpg");
    background-size: 100%; /* Растягивает изображение по ширине блока */
    background-position: center; /* Центрирует изображение */
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.lines{
    border-color:#ffffff;
    border-style:solid;
    border-width: 0.75px;
    width:  1224px;
    margin-bottom: 50px;
}
.wcolor{ 
    text-shadow: 
        0 0 4px rgb(0, 0, 0),
        0 0 4px rgb(0, 0, 0),
        0 0 4px rgb(0, 0, 0);
    color: #fff;
}
.regular {
    font-weight: 400;
}


/* Опциональный текст поверх изображения */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #6E78B7;
    z-index: 2;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans SC', 'Microsoft YaHei UI', sans-serif;
}

.attractions{
    background: linear-gradient(to bottom, 
        rgba(71, 71, 71, 0.5) 50%,
        rgba(71, 71, 71, 0.5) 50%
    );
    border-radius: 8px;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    padding-top: 20px;
    
}
.name{
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 999999;
    font-style: italic;
    margin: auto;
    font-size: 50px;
   
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.gallery-item {
    height: 300px;
    background: linear-gradient(to bottom, 
        rgb(224, 255, 226) 0%,
        rgb(239, 255, 241) 100%
    );
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.gallery-item img {
    width: 100%;
    height: 200px;
}

.gallery-item p {
    padding: 10px;
    font-size: 16px;
    color: #333;
}
.footergr{
    margin-top: 50px;
    background: linear-gradient(to bottom, 
        rgb(255, 255, 255) 35%,
        rgba(71, 71, 71, 0.9) 90%
    );
    width: 100%;
    height: 20px;
}
.footer{
    background: linear-gradient(to bottom, 
        rgba(71, 71, 71, 0.9) 90%,
        rgba(71, 71, 71, 0.9) 90%
    );
    height: 200px;
    width: 100%;
}
